* {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: rgb(247, 247, 247);
  transition: all ease-in 0.2s;
  scroll-behavior: smooth;
}

#loder {
  background-color: red;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#preloder {
  background-color: #FFAF8D;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(31, 31, 31);
  }

.bg-clr {
  background-color: #F870C2;
}

.bg-clr2 {
  background-color: #FFAF8D;
}

.hvr-clr:hover {
  color: #F870C2;
  transition: all ease-in 0.2s;
}

.svgtst {
  width: 100vw;
}

.dark-clr {
  color: rgb(22, 22, 22);
}

.ri-close-circle-fill {
  color: rgb(70, 70, 70);
}

.ri-play-fill {
  color: rgb(70, 70, 70);
}

::-webkit-scrollbar {
  display: none;
}

.hvr_bg {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hvr_bg:hover::before {
  content: '';
  width: 100%;
  border-radius: 50%;
  scale: 3;
  top: 150%;
  left: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.hvr_bg::before {
  position: absolute;
  content: " ";
  width: 5vh;
  height: 100%;
  left: -10%;
  top: 50%;
  border-radius: 50%;
  background-color: #F870C2;
  transition: all ease-in 0.3s;
}

.hover_bgbefore {
  position: relative;
}

.hover_bgbefore:hover::before {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  top: 0%;
  left: 0%;
  border-radius: 0px;
}

.hover_bgbefore::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 0%;
  border-radius: 50%;
  height: 0%;
  top: 100%;
  left: 20%;
  background-color: #F870C2;
}

.maindv_1:hover div {
  color: rgb(36, 36, 36);
  font-weight: 600;
  letter-spacing: -2px;
  transition: all 0.4s;
}

.hvr_bg:hover .ri-checkbox-circle-fill,
.hvr_bg:hover .ri-code-s-slash-fill {
  color: rgb(32, 32, 32);
  transition: all step-end 0.4s;
  font-weight: 600;
}

.max630_bg_zinc:hover {
  background: linear-gradient(rgb(2, 2, 2), rgba(0, 0, 0, 0.144), rgba(2, 2, 2, 0.315), rgb(8, 8, 8));
  font-size: 1.2rem;
}

.ri-close-fill {
  color: rgb(22, 22, 22);
}

.course_overview,
.post_overview,
.projects_overview,
.social_media_overview,
.about_him_overview,
.profle_overview,
.course_overview_02,
.post_overview_02,
.projects_overview_02,
.social_media_overview_02,
.about_him_overview_02,
.profle_overview_02 {
  display: none;
}

.open_window_01 {
  background-color: red;
}

.course_overview_03,
.post_overview_03,
.projects_overview_03,
.social_media_overview_03,
.about_him_overview_03,
.profle_overview_03 {
  display: none;
}

.main_pop,
.open_window_03,
.open_window_02,
.open_window_01 {
  display: none;
}

.ri-eye-fill,
.ri-vip-crown-fill {
  color: rgba(22, 22, 22, 0.616);
  margin-left: 2px;
}

.shadow_01 {
  box-shadow: 3px 3px 7px rgb(20, 20, 20), -3px -3px 7px #ebebeb;
}

.victor_animation {
  animation: left_right_top_bottom 5s infinite;
  top: 50%;
  left: 0%;
  transform: translate(10%, -60%);
}

@keyframes left_right_top_bottom {
  50% {
    left: 70%;
    opacity: 0%;

  }
}

.hvr_line:hover {
  scale: 1.03;
  opacity: 100%;
}

.dropdownwebdevelopment {
  transition: all ease 0.6s;
}

.wating {
  transform: translate(-50%, -50%);
}

.max630_bg_zinc {
  background: linear-gradient(rgba(2, 2, 2, 0.836), rgba(0, 0, 0, 0), rgba(2, 2, 2, 0), rgba(8, 8, 8, 0.89));
}

@media (max-width: 632px) {
  .footer {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer_child01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .footer_child01>.footer_child02 {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-top: -40px;
  }

  .main_nav {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 90vw;
    height: 10vh;
    z-index: 99;
    background-color: #1f1f1fe8;
  }

  .max630_logo {
    position: relative;
    z-index: 99;
  }

  .menu_bar3line {
    display: block;
    scale: 2;
  }

  .max630_links {
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    left: 0%;
    top: 0%;
    padding-top: 0vh;
    background-color: #1f1f1fbb;
    backdrop-filter: blur(20px);
    height: 0vh;
  }

  .max630_ul {
    display: none;
    z-index: 99;
  }

  .max630_ul {
    flex-direction: column;
    width: fit-content;
    gap: 3px;
  }

  .max630_ul>li {
    font-size: 2rem;
  }

  .max630_helpdv {
    scale: 2;
  }

  .open_icon {
    display: none;
    transition: all ease-in 1s;
  }

  .max630_bgclr {
    display: none;
  }

  .open_icon {
    color: #ebebeb;
    scale: 1;
  }

  .max630_bgclr {
    z-index: 95;
    position: fixed;
    width: 100vw;
    top: 0%;
    left: 0%;
  }

  .max630_button {
    padding: 8px 30px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    text-wrap: nowrap;
  }

  .max630_buttonparent {
    width: 50vw;
    height: 10vh;
    position: relative;
    justify-content: center;
    margin-top: 3vh;
  }

  .max630_photoparent {
    width: 100vw;
    margin-top: -35vh;
    scale: 0.7;
  }

  .max630_text {
    font-size: 20vw;
    line-height: 100px;
    height: fit-content;
    width: 100vw;
    margin-top: 15vh;
    padding-bottom: 5vh;
  }

  .max630_dis {
    line-height: 2.7vh;
    font-weight: 400;
    font-size: 0.8rem;
  }

  .max630_cardparent {
    width: 100vw;
  }

  .max630_subtext {
    font-size: 1.3rem;
  }

  .max630_coursescale {
    font-size: 0.8rem;
  }

  .max630_gap {
    gap: 5px;
  }

  .max630_teacherspage {
    width: 100px;
    height: 100px;
  }

  .max630_teachersname {
    width: 100px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 17px;
  }

  .max630_teachercourses {
    line-height: 13px;
  }

  .max630_teachersscroll {
    scroll-snap-type: x mandatory;
  }

  .max630_teachersscrollsnap {
    scroll-snap-align: start;
  }

  .max630_teachermaintext {
    text-wrap: nowrap;
    font-size: 1.5rem;
    line-height: 25px;
  }

  .max630_projectimage {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .max630_projectimage {
    width: 95%;
    border-radius: 10px;
  }

  .max630_projectimage>img {
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .max630_bg_zinc {
    background: linear-gradient(rgba(2, 2, 2, 0.836), rgba(0, 0, 0, 0), rgba(2, 2, 2, 0), rgba(8, 8, 8, 0.89));
  }

  .max630_miniraper {
    gap: 2px;
  }

  .max630_linkicon {
    scale: 1.2;
  }

  .max630_linktext {
    text-wrap: nowrap;
    font-size: 0.9rem;
    width: 85%;
    overflow: hidden;
    overflow-x: scroll;
  }

  .hvr_bg {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .hvr_bg:hover::before {
    content: '';
    width: 100%;
    border-radius: 50%;
    scale: 10;
    top: 100%;
    left: 400%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .hvr_bg::before {
    position: absolute;
    content: " ";
    width: 5vh;
    height: 100%;
    left: -10%;
    top: 50%;
    border-radius: 50%;
    background-color: #F870C2;
    transition: all ease-in 0.3s;
  }

  .maindv_1:hover div {
    color: rgba(0, 0, 0, 0.788);
    font-weight: 600;
    letter-spacing: -1px;
    transition: all 0.4s;
  }
  .max630_posi{
    position: relative;
    margin-top: 4vh;
    margin-bottom: 4vh;
    padding: 0 12px;
    width: 100%;
    padding: 20px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f870c20e;
    border-radius: 15px;
  }
  .max630_textcont{
    /* background-color: #FFAF8D; */
    width: 95%;
    padding: 3%;
  }
  .max630_mainimgrapper{
    width: 90%;
    margin-top: 5vh;
  }
  .max630_projectimage {
   /* background-color: red; */
   width: 100%;
  }
  .max630_flex_padding{
    /* background-color: red; */
  }
  .max630_projecttitle{
    font-size: 1.7rem;
    font-weight: 500;
  }
}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.preloader.active {
  opacity: 1;
  pointer-events: auto;
}

.loader {
  border: 4px solid #FFAB86;
  border-radius: 40%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.centerBike {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 26px;
  margin-left: -12px;
}

.prelodercenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

#loop {
  height: 100px;
  width: 100px;
  border: #bb5f27 solid 4px;
  border-radius: 200px;
}

#loop:before {
  background: linear-gradient(to left, rgba(187, 95, 39, 0) 0%, rgba(187, 95, 39, 1) 30%, rgba(187, 95, 39, 1) 70%, rgba(187, 95, 39, 0) 100%);
  content: "";
  display: block;
  height: 4px;
  left: -100px;
  position: relative;
  top: 100px;
  width: 300px;
}

#bike-wrapper {
  height: 108px;
  width: 108px;
  animation: drive 3s linear infinite;
}

#bike {
  height: 24px;
  width: 25px;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/133687/motorbike.png");
}

@keyframes drive {
  0% {
    margin-left: -364px;
    opacity: 0;
  }

  33.33% {
    transform: rotate(0deg);
    margin-left: -50px;
    opacity: 1;
  }

  66.66% {
    transform: rotate(-360deg);
    margin-left: -50px;
    opacity: 1;
  }

  100% {
    margin-left: 264px;
    transform: rotate(-360deg);
    opacity: 0;
  }


}


._404_error
{
  background-color:#141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}


#handboy
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;
    
}


#girllight
{
   animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl
{
    animation: swinghair ease-in-out 1.3s infinite alternate;
   transform-origin: 60% 0%;
    transform-box: fill-box;
  
}

#zero
{
  transform-origin:bottom;
  transform-box:fill-box;
  
}

@keyframes swing {
    0% { transform: rotate(10deg); }
    100% { transform: rotate(-10deg); }
}

@keyframes swinghair {
    0% { transform: rotate(6deg); }
    100% { transform: rotate(-6deg); }
}

.transition_abhay::after{
  transition: all ease 0.4s;
}
.transition_before::before{
  transition: all ease 0.4s;
}
.imagehover:hover img{
  scale: 1.2;
}